@charset "UTF-8";
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h4 {
  margin: 0;
}

img {
  display: block;
}

.modal__button, .footer-form__button, .hero__button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.87px;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.speciality__title, .engage__title, .team__title, .customer__title {
  font-weight: 700;
  font-size: 28px;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .speciality__title, .engage__title, .team__title, .customer__title {
    font-size: 36px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.03em;
  color: #000000;
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__letters {
  color: #2196f3;
}

.logo__letters--white {
  color: #ffffff;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button:hover {
  color: #2196f3;
}

.menu-button:focus {
  color: #2196f3;
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open {
  position: fixed;
  top: 10px;
  right: 15px;
  z-index: 2;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.icon-menu {
  fill: currentColor;
}

.icon-cross {
  fill: currentColor;
}

.menu {
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  padding-top: 48px;
  padding-bottom: 48px;
  padding-left: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  display: none;
}

.menu.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .menu {
    display: none;
  }
}

.menu__address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.menu__item + .menu__item {
  margin-top: 32px;
}

.menu__link {
  font-weight: 500;
  font-size: 40px;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms 0.4, 0, 0.2, 1;
  transition: color 250ms 0.4, 0, 0.2, 1;
}

.menu__link:focus, .menu__link:hover {
  color: #2196f3;
}

.menu-address__tel {
  display: block;
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.menu-address__mail {
  display: block;
  font-weight: 500;
  font-size: 24px;
  letter-spacing: 0.02em;
  color: #757575;
}

.menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-social__item:not(:last-child) {
  padding-right: 10px;
}

.menu-social__item + .menu-social__item {
  border-left: 1px solid rgba(33, 33, 33, 0.2);
  padding-left: 10px;
}

.menu-social__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.17;
  color: #757575;
  letter-spacing: 0.03em;
  background-color: #ffffff;
}

/* основні розміри сторінки*/
.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

@media screen and (max-width: 1199px) {
  .container {
    text-align: center;
  }
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

/*кнопки мають спільні значення */
button {
  font-family: inherit;
  border-radius: 4px;
  border: transparent;
}

/*спільне в заголовках*/
.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 16px;
}

.social__link {
  display: block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding: 12px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social .social__link:hover, .social .social__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social__link + .social__link {
  margin-left: 10px;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* модалка або попап*/
.backdrop {
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.3);
          transform: translate(-50%, -50%) scale(0.3);
}

.modal {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__button {
  display: inline-block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
}

.modal__button:hover, .modal__button:focus {
  background-color: #188CE8;
}

.modal .close {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal .close:hover, .modal .close:focus {
  color: #2196f3;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.modal__info {
  position: relative;
  padding-top: 18px;
  margin-bottom: 10px;
}

.modal__coment {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-top: 18px;
  margin-bottom: 20px;
}

.modal-label {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}

.info__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .info__input {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .info__input {
    width: 448px;
  }
}

.info__input:focus ~ .info__icon,
.info__input:hover ~ .info__icon {
  fill: #2196f3;
}

.info__input:focus, .info__input:hover {
  outline: none;
  border-color: #2196f3;
}

.info__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  bottom: 11px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.coment__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 480px) {
  .coment__textarea {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .coment__textarea {
    width: 448px;
  }
}

.coment__textarea:focus, .coment__textarea:hover {
  outline: none;
  border-color: #2196f3;
}

.coment__textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.coment__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.coment__textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.coment__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  position: relative;
}

.checkbox__text {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.03em;
  color: #757575;
}

@media screen and (min-width: 1200px) {
  .checkbox__text {
    font-size: 14px;
    line-height: 1.71;
  }
}

.checkbox__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196F3;
}

.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.checkbox .checkbox__label::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  border: #212121 solid 2px;
  border-radius: 2px;
  position: absolute;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked + .checkbox__label::after {
  background-image: url(../img/svg/check.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #2196f3;
  border: none;
}

.checkbox__input:focus + .checkbox__label::after,
.checkbox__input:hover + .checkbox__label::after {
  border-color: #2196f3;
}

header {
  border-bottom: 1px solid #ECECEC;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .nav {
    padding: 0;
  }
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav__link {
  position: relative;
  display: block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  bottom: 0;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link:hover::after, .nav__link:focus::after {
  opacity: 1;
}

.nav__item + .nav__item {
  margin-left: 50px;
}

.nav__link--current {
  color: #2196f3;
}

.nav__link--current.nav__link::after {
  opacity: 1;
}

.page-header {
  display: none;
}

@media screen and (min-width: 768px) {
  .page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.address-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: start;
  margin-left: 84px;
}

.address-header__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 0.02em;
  color: #757575;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-header__link:hover, .address-header__link:focus {
  color: #2196f3;
}

@media (max-width: 1200px) {
  .address-header__link + .address-header__link {
    margin-top: 10px;
  }
}

.address-header__icon {
  margin-right: 8px;
  fill: currentColor;
}

@media screen and (min-width: 1200px) {
  .nav {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .nav__item:first-child {
    margin-left: 93px;
  }
  .page-header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .address-header {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 0;
  }
  .address-header__link {
    font-size: 14px;
    line-height: 1.14;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .address-header__link + .address-header__link {
    margin-left: 50px;
  }
}

/*усе про футер*/
footer {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.address-list {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .address-list {
    margin-bottom: 0;
  }
}

.address-list__item + .address-list__item {
  margin-top: 8px;
}

@media screen and (min-width: 1200px) {
  .address-list__item + .address-list__item {
    margin-top: 9px;
  }
}

.address-list__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__link:hover, .address-list__link:focus {
  color: #2196f3;
}

.address-list__link--footer-contact {
  color: rgba(255, 255, 255, 0.6);
}

.address-list__link--address {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.footer__title {
  color: #ffffff;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-social {
  margin-bottom: 60px;
}

.footer-social__link {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
}

.footer-form__input {
  margin: 0;
  width: 100%;
  height: 50px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-form__input {
    width: 358px;
    margin-bottom: 0;
  }
}

.footer-form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__button {
  position: relative;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 12px;
  padding-right: 28px;
  padding-bottom: 8px;
  padding-left: 29px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  text-align: start;
}

@media screen and (min-width: 1200px) {
  .footer-form__button {
    display: inline;
    margin-left: 12px;
  }
}

.footer-form__button::after {
  display: block;
  position: absolute;
  content: '';
  background-image: url(../img/svg/send.svg);
  width: 24px;
  height: 24px;
  right: 28px;
  top: 13px;
}

.footer-form__button:focus, .footer-form__button:hover {
  background-color: #188CE8;
}

@media screen and (min-width: 768px) {
  .footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-item {
    margin: 0 15px;
    width: calc(50%-45)/2;
  }
  .footer-item:last-child {
    width: calc(50%-15px);
    margin-right: 0;
  }
  .footer-item:first-child {
    margin-left: 0;
  }
}

/* main*/
/* СТУДІЯ */
/* наш герой */
.hero {
  max-width: 480px;
  padding-top: 118px;
  padding-bottom: 118px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg-image/hero-mobail.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-image/hero-mobail.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #C4C4C4;
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg-image/hero-mobail@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-image/hero-mobail@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg-image/hero-tablet.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-image/hero-tablet.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg-image/hero-tablet@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-image/hero-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg-image/hero-desktop.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-image/hero-desktop.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/bg-image/hero-desktop@2x.jpg);
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/bg-image/hero-desktop@2x.jpg);
  }
}

.hero__title {
  max-width: 350px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 600px;
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  display: block;
  padding: 10px 22px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8, 100%;
}

.speciality {
  margin: 0;
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .speciality {
    padding: 94px 0;
  }
}

.speciality__list {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .speciality__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.speciality__title {
  text-transform: uppercase;
  margin-top: 30px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  font-size: 14px;
}

.speciality__paragraph {
  line-height: 1.71;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
  text-align: start;
}

.speciality__item {
  display: block;
  max-width: 450px;
}

@media screen and (min-width: 768px) {
  .speciality__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .speciality__item {
    width: 270px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
  .speciality__item:nth-child(2n+2) {
    margin-left: 30px;
  }
  .speciality__item:nth-child(n+3) {
    margin-top: 30px;
  }
}

.speciality__item::before {
  content: "";
  display: block;
  height: 120px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
}

@media screen and (max-width: 767px) {
  .speciality__item + .speciality__item {
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .speciality__item + .speciality__item {
    margin-left: 30px;
    margin-top: 0;
  }
}

.icon-antenna::before {
  background-image: url(../img/svg/antenna.svg);
}

.icon-clock::before {
  background-image: url(../img/svg/clock.svg);
}

.icon-diagram::before {
  background-image: url(../img/svg/diagram.svg);
}

.icon-astronaft::before {
  background-image: url(../img/svg/astronaut.svg);
}

.engage {
  display: none;
  padding: 0 0 94px 0;
}

.engage__title {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  text-align: center;
}

.engage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 0 auto;
}

.engage__item {
  position: relative;
}

.engage__description {
  position: absolute;
  display: block;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .engage {
    display: block;
  }
}

.team {
  margin: 0;
  padding: 60px 0;
  background-color: #f5f4fa;
}

@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}

@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.team__title {
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
  }
}

.team-card {
  max-width: 450px;
  text-align: center;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .team-card {
    max-width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .team-card {
    max-width: 270px;
  }
}

.team-card__icon {
  width: 100%;
}

.team-card__block {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.19;
  font-weight: 400;
}

.team-card__name {
  margin-bottom: 10px;
  font-weight: 500;
  color: #212121;
}

.team-card + .team-card {
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .team-card + .team-card {
    margin-top: 0;
  }
}

@media screen and (min-width: 768px) {
  .team-card:nth-child(2) {
    margin-top: 0;
  }
}

.team__social {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__social .social__link {
  color: #afb1b8;
}

.customer {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .customer {
    padding: 94px 0;
  }
}

.customer__title {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .customer__title {
    margin-bottom: 50px;
  }
}

.customer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -30px;
}

@media screen and (min-width: 480px) {
  .customer__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.customer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 210px;
  height: 90px;
}

.customer__link:hover, .customer__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

@media screen and (min-width: 768px) {
  .customer__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .customer__link {
    width: 170px;
  }
}

.customer__icon {
  fill: currentColor;
}

.customer__item {
  margin-top: 30px;
}

/* сторінка портфоліо */
.filter {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: 0;
  padding: 0;
  text-align: start;
}

.filter-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: -15px;
  margin-left: -8px;
  padding: 0;
  max-width: 362px;
}

@media screen and (min-width: 768px) {
  .filter-list {
    max-width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.filter-list__item {
  margin-left: 8px;
  margin-top: 15px;
}

.filter-list__button {
  display: inline-block;
  padding: 6px 22px;
  line-height: 1.63;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: inherit;
  background-color: #f5f4fa;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list__button:focus, .filter-list__button:hover {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list__button:active {
  line-height: 1.63;
  background-color: #2196f3;
  color: #ffffff;
}

.cards-list__item {
  max-width: 450px;
  text-align: left;
  background-color: #ffffff;
}

@media screen and (min-width: 768px) {
  .cards-list__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .cards-list__item {
    width: 378px;
  }
}

.cards-list__icon {
  width: 100%;
}

/*
.content-container {
    text-align: center;
    
    margin: 0 auto;
    padding-top: 94px;
    padding-bottom: 94px;
    
}
    

    
    
    
    
    
.cards-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;

    &__item {
    
        margin-top: 30px;
        margin-right: 0;
        margin-bottom: 0;
        margin-left: 30px;

        &:nth-child(3n+1) {
            margin-left: 0;
        }
            
        &:nth-child(-n+3) {
            margin-top: 0;
        }
    }

    &__link {
            display: block;
            
        &:hover,
        &:focus {
    
    
            box-shadow: 0px 1px 1px 
            rgba(0, 0, 0, 0.12), 0px 4px 4px 
            rgba(0, 0, 0, 0.06), 1px 4px 6px 
            rgba(0, 0, 0, 0.16);
        }
        
            
    }

    &__text {
        border: 1px solid #EEEEEE;
        padding: 20px 24px;
    }

    &__title {
        @extend %primary-title;
        line-height: 2;
        font-size: 18px;
        text-transform: none;
        margin-top: 0;
        margin-right: 0;
        margin-bottom: 4px;
        margin-left: 0;
        letter-spacing: 0.06em;
    }
        
    &__paragraph {
        line-height: 1.88;
        font-weight: 400;
        font-size: 16px;
        margin: 0;
        
        
        color: $primary-text-color;
    }
            
}
    
    */
.portfolio-overlay {
  display: block;
  width: 100%;
  height: 294px;
  overflow: hidden;
  position: relative;
}

.portfolio-overlay__paragraph {
  display: block;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-list__link:hover .portfolio-overlay__paragraph,
.cards-list__link:focus .portfolio-overlay__paragraph {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
/*# sourceMappingURL=main.css.map */