@charset "UTF-8";
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h4 {
  margin: 0;
}

img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.17;
  color: #757575;
  letter-spacing: 0.03em;
  background-color: #ffffff;
}

/* основні розміри сторінки*/
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
}

/*кнопки мають спільні значення */
button {
  font-family: inherit;
  border-radius: 4px;
  border: transparent;
}

/*спільне в заголовках*/
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo__letters {
  color: #2196f3;
}

.logo__letters--white {
  color: #ffffff;
}

.modal__button, .footer-form__button, .hero__button {
  width: 200px;
  height: 50px;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.87px;
  letter-spacing: 0.06em;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.speciality__title, .engage__title, .customer__title, .cards-list__title {
  font-weight: 700;
  font-size: 36px;
  color: #212121;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 16px;
}

.social__link {
  display: block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  padding: 12px;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social .social__link:hover, .social .social__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.social__link + .social__link {
  margin-left: 10px;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

/* модалка або попап*/
.backdrop {
  display: block;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.3);
          transform: translate(-50%, -50%) scale(0.3);
}

.modal {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  width: 528px;
  height: 581px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button {
  display: inline-block;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  font-weight: 700;
}

.modal__button:hover, .modal__button:focus {
  background-color: #188CE8;
}

.modal .close {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 6px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.modal .close:hover, .modal .close:focus {
  color: #2196f3;
}

.modal__title {
  margin-top: 0;
  margin-bottom: 12px;
  width: 448px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: #212121;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal__info {
  position: relative;
  padding-top: 18px;
  margin-bottom: 10px;
}

.modal__coment {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  padding-top: 18px;
  margin-bottom: 20px;
}

.modal-label {
  position: absolute;
  top: 0;
  left: 0;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
}

.info__input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  padding-left: 43px;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.info__input:focus ~ .info__icon,
.info__input:hover ~ .info__icon {
  fill: #2196f3;
}

.info__input:focus, .info__input:hover {
  outline: none;
  border-color: #2196f3;
}

.info__icon {
  position: absolute;
  left: 12px;
  bottom: 14px;
  fill: #212121;
  -webkit-transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.coment__textarea {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  resize: none;
  -webkit-transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.coment__textarea:focus, .coment__textarea:hover {
  outline: none;
  border-color: #2196f3;
}

.coment__textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.coment__textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.coment__textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.coment__textarea::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.checkbox {
  margin-right: auto;
  margin-left: auto;
  padding-left: 24px;
  position: relative;
}

.checkbox__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.checkbox__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2196F3;
}

.checkbox__input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: absolute;
}

.checkbox .checkbox__label::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 15px;
  border: #212121 solid 2px;
  border-radius: 2px;
  position: absolute;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox__input:checked + .checkbox__label::after {
  background-image: url(../img/svg/check.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: #2196f3;
  border: none;
}

.checkbox__input:focus + .checkbox__label::after,
.checkbox__input:hover + .checkbox__label::after {
  border-color: #2196f3;
}

header {
  border-bottom: 1px solid #ECECEC;
}

.head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 93px;
}

.nav__item {
  margin-right: 50px;
}

.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #212121;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link:hover::after, .nav__link:focus::after {
  opacity: 1;
}

.nav__link--current {
  color: #2196f3;
}

.nav__link::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  bottom: 0;
  opacity: 0;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--current.nav__link::after {
  opacity: 1;
}

.address-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.address-header__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
  color: #757575;
}

.address-header__link:hover, .address-header__link:focus {
  color: #2196f3;
}

.address-header__link + .address-header__link {
  margin-left: 50px;
}

.address-header__icon {
  margin-right: 10px;
  fill: currentColor;
}

/*усе про футер*/
.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

.address-list {
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.address-list__item + .address-list__item {
  margin-top: 9px;
}

.address-list__link {
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list__link:hover, .address-list__link:focus {
  color: #2196f3;
}

.address-list__link--footer-contact {
  color: rgba(255, 255, 255, 0.6);
}

.address-list__link--address {
  display: inline-block;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.footer-social {
  margin-left: 70px;
}

.footer-social__link {
  color: #ffffff;
  background: rgba(255, 255, 255, 0.1);
}

.footer__title {
  color: #ffffff;
  font-size: 14px;
  margin-top: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.footer-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  margin-right: 0;
}

.footer-form__input {
  margin: 0;
  width: 358px;
  height: 50px;
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding-left: 16px;
}

.footer-form__input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form__button {
  position: relative;
  margin-left: 12px;
  padding-top: 12px;
  padding-right: 28px;
  padding-bottom: 8px;
  padding-left: 29px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-transform: capitalize;
  text-align: start;
}

.footer-form__button::after {
  display: block;
  position: absolute;
  content: '';
  background-image: url(../img/svg/send.svg);
  width: 24px;
  height: 24px;
  right: 28px;
  top: 13px;
}

.footer-form__button:focus, .footer-form__button:hover {
  background-color: #188CE8;
}

/* main*/
/* СТУДІЯ */
/* наш герой */
.hero {
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero-bg-img.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero-bg-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #C4C4C4;
}

.hero__title {
  width: 600px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.hero__button {
  display: block;
  padding: 10px 20px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.hero__button:hover, .hero__button:focus {
  background-color: #188ce8, 100%;
}

/* секція наші плюси */
.speciality {
  margin: 0;
  padding: 94px 0;
}

.speciality__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
}

.speciality__title {
  text-transform: uppercase;
  margin-top: 30px;
  margin-right: 0;
  margin-bottom: 10px;
  margin-left: 0;
  font-size: 14px;
}

.speciality__paragraph {
  line-height: 1.71;
  font-weight: 400;
  font-size: 14px;
  margin: 0;
}

.speciality__item {
  display: block;
  width: 270px;
}

.speciality__item::before {
  content: "";
  display: block;
  height: 120px;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F5F4FA;
}

.speciality__item + .speciality__item {
  margin-left: 30px;
}

.icon-antenna::before {
  background-image: url(../img/svg/antenna.svg);
}

.icon-clock::before {
  background-image: url(../img/svg/clock.svg);
}

.icon-diagram::before {
  background-image: url(../img/svg/diagram.svg);
}

.icon-astronaft::before {
  background-image: url(../img/svg/astronaut.svg);
}

/*чим ми займаємось*/
.engage {
  padding: 0 0 94px 0;
}

.engage__title {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  text-align: center;
}

.engage__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto 0 auto;
}

.engage__item {
  position: relative;
}

.engage__description {
  position: absolute;
  display: block;
  width: 100%;
  background: rgba(47, 48, 58, 0.8);
  bottom: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #FFFFFF;
}

/* наша команда */
.team {
  margin: 0;
  padding: 94px 0;
  background-color: #f5f4fa;
}

.team__title {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  text-align: center;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.team-card {
  width: 270px;
  text-align: center;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team-card__block {
  display: block;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 1.19;
  font-weight: 400;
}

.team-card__name {
  margin-bottom: 10px;
  font-weight: 500;
  color: #212121;
}

.customer {
  padding: 94px 0;
}

.customer__title {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  text-align: center;
}

.customer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
}

.customer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer__link:hover, .customer__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}

.customer__icon {
  fill: currentColor;
}

.team__social {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__social .social__link {
  color: #afb1b8;
}

/* сторінка портфоліо */
.content-container {
  text-align: center;
  margin: 0 auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.filter-list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 50px;
  margin-left: auto;
  padding: 0;
}

.filter-list__item + .filter-list__item {
  margin-left: 8px;
}

.filter-list__button {
  display: inline-block;
  padding: 6px 22px;
  line-height: 1.63;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: inherit;
  background-color: #f5f4fa;
  -webkit-transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list__button:focus, .filter-list__button:hover {
  background-color: #2196f3;
  color: #ffffff;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list__button:active {
  line-height: 1.63;
  background-color: #2196f3;
  color: #ffffff;
}

.cards-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin: 0;
}

.cards-list__item {
  margin-top: 30px;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 30px;
  width: 370px;
  text-align: left;
  background-color: #ffffff;
}

.cards-list__item:nth-child(3n+1) {
  margin-left: 0;
}

.cards-list__item:nth-child(-n+3) {
  margin-top: 0;
}

.cards-list__link {
  display: block;
}

.cards-list__link:hover, .cards-list__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.cards-list__text {
  border: 1px solid #EEEEEE;
  padding: 20px 24px;
}

.cards-list__title {
  line-height: 2;
  font-size: 18px;
  text-transform: none;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 4px;
  margin-left: 0;
  letter-spacing: 0.06em;
}

.cards-list__paragraph {
  line-height: 1.88;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  color: #757575;
}

/*.portfolio-card::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    opacity: ;
    background: rgba(33, 150, 243, 0.9);
    }*/
.portfolio-overlay {
  display: block;
  width: 100%;
  height: 294px;
  overflow: hidden;
  position: relative;
}

.portfolio-overlay__paragraph {
  display: block;
  background: rgba(33, 150, 243, 0.9);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  color: #FFFFFF;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cards-list__link:hover .portfolio-overlay__paragraph,
.cards-list__link:focus .portfolio-overlay__paragraph {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
/*# sourceMappingURL=main.css.map */