%primary-button {
    width: 200px;
    height: 50px;

    background-color: $accent-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: $primari-white-color;
    cursor: pointer;

    font-size: 16px;
    line-height: 1.87px;    
    letter-spacing: 0.06em;

    transition: background-color $primari-trasition-duration cubic-bezier($cubic-bezier);
}

//h2,h3
%primary-title {
    font-weight: 700;
    font-size: 36px;
    color: $title-text-color;
}

